.row-detalhes{
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;

    border-bottom: 2px solid #E3E5EF;
}

.row-detalhes:last-child{
    border-bottom: none;
}

.row-detalhes:not(:first-child){
    margin-top: 30px;
}

.text-name-detalhes{
    font-size: 20px;
    font-weight: 600;
}
.text-detalhes{
    font-size: 20px;
    font-weight: 600;
}