*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

html{
    height: 100vh;
    width: 100vw;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #F6F9FC;
}
a{
    text-decoration: none;
}

#banner{
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 106, 254, 0.28) 0%, rgba(223, 235, 254, 0.28) 100%), linear-gradient(130.86deg, #7EC4FB 0%, rgba(87, 153, 226, 0.89) 100%);
    background-blend-mode: overlay, normal;
}

.texto-principal,
.text-name-detalhes{
    color: #707382;
}
.texto-secundario,
.text-detalhes{
    color: #9FA2B1;
}
.texto-principal-banner, 
.texto-secundario-banner, 
.texto-title-banner,
.texto-principal-header, 
.texto-secundario-header, 
.texto-title-header{
    color: #F1F6FA;
}

.form-box-input{
    border: 1px solid rgba(17, 39, 64, 0.5);
    border-radius: 10px;
}

.texto-title{
    color: #707382;
    font-weight: 700;
}

.form-submit, 
.form-submit:hover,
.button,
.button:hover{
    background: #A0C9F7;
    border-radius: 20px;
    color: #F1F6FA;
}

.form-submit:hover,
.form-submit:focus,
.button:hover,
.button:focus{
    font-weight: bold;
    background: #85B1EE;
    color: #F1F6FA;
}

.margintop{
    margin-top: 150px;
}

#searchBar{
    height: 15%;
}

.border-search{
    border: 1px solid #E3E5EF;
    height: 100%;
    width: 95%;
}

#cardTable{
    width: 95%;
    height: 75%;
    background-color: #FFF;
    overflow-y: scroll;
}

#cardTable::-webkit-scrollbar {
    display: block;
    width: 8px;
}
#cardTable::-webkit-scrollbar-track {
    background: transparent;
}
    
#cardTable::-webkit-scrollbar-thumb {
    background-color: #85B1EE;
    border-radius: 15px;
}

#cardTable::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

#cardTable::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}


.action_button{
    border: 2px solid #E3E5EF;
    background-color: inherit;
    width: 25%;
}
.action_button:hover{
    background-color: white;
}