#header{
    background: #6998E6;
    color: #F1F6FA;
    height: 10%;
    position: relative;
    z-index: 99;
}

/* #nav{
    
} */

#sideNav{
    background-color: #F1F6FA;
    position: fixed;
    z-index: 100;
    /* display: none; */
    width: 150%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    margin-left: -11px;
    width: 25%;

    transform: translateX(-100%);
    opacity: 0;
}

.icon-close{
    position: relative;
    top: -50%;
    left: 100%;
}

.icon-close,
.icon-burguer{
    
    cursor: pointer;
}

.options{
    margin-top: -150px;
}

#sideNav.animate{
    animation-name: opNavbar;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#sideNav.removeanimate{
    animation-name: opNavbar;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: both;
}

@keyframes opNavbar {
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes clNavbar {
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}